footer {
    height: 40px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.footerText {
    font-size: 130%;
    padding: 0 10px;
    font-weight: bold;
}

footer img {
    height: 32px;
    width: auto;
    object-fit: contain;
    padding: 5px
}