:root {
    --gray: dimgray;
}

body {
    font-family: var(--font);
    font-size: 17px;
    color: white;
    margin: 0;
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.clickable {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.clickable:hover {
    opacity: 0.8;
    cursor: pointer;
}

.clickable:active {
    opacity: 0.6
}

.button {
    width: 140px;
    height: 22px;
    font-size: 80%;
    font-family: var(--font);
    cursor: pointer;
    border-radius: 15px;
    margin: 2px;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex
}

.button:hover {
    opacity: 0.8
}

.button:active {
    opacity: 0.6;
}

.loader {
    border: 6px solid dimgray;
    border-top: 6px solid var(--banner);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.divider {
    margin: 0 15px;
    border-left: 2px solid white;
    height: 35px;
}