:root {
    --gray: dimgray;
}

body {
    font-size: 17px;
    margin: 0;
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.clickable {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.button {
    width: 140px;
    height: 22px;
    font-size: 80%;
    border-radius: 15px;
    margin: 2px;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button,
.grow {
    transition: transform 0.1s ease
}

.clickable:hover {
    opacity: 0.8;
    cursor: pointer;
}

.button:hover,
.grow:hover {
    transform: scale(1.08);
    cursor: pointer
}

.button:active,
.grow:active {
    transform: scale(0.95);
}

.clickable:active,
.button:active,
.grow:active {
    opacity: 0.6;
}

.active {
    border: 4px solid white
}

.activeBanner {
    color: var(--bannerText);
    background-color: var(--banner) !important;
}

.selected {
    background-color: white !important;
    color: black !important;
}

.active:hover,
.active:active,
.activeBanner:hover,
.activeBanner:active,
.selected:hover,
.selected:active {
    opacity: 1 !important;
    cursor: default !important;
    transition: none !important;
    transform: none !important;
}

.loader {
    border: 6px solid dimgray;
    border-top: 6px solid var(--banner);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.divider {
    margin: 0 15px;
    border-left: 2px solid white;
    height: 35px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    margin: 0 6px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1
}

.shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.headerRow {
    padding: 5px 0;
    background-color: var(--background2)
}

#tabsDiv {
    height: 30px;
    margin-bottom: 20px
}

#tabs .button {
    width: 40px;
    font-size: 110%
}

.progress {
    height: 5px;
    background-color: var(--banner);
}

.boardTitleTable {
    border: 3px solid var(--banner);
    border-radius: 5px;
    font-weight: bold;
    font-size: 110%
}

/* Modal */

#modal {
    display: none;
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes modalUp {
    from {
        top: 100%;
        opacity: 0;
        transform: translate(-50%, 0);
    }

    to {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes modalDown {
    from {
        top: 50%;
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    to {
        top: 100%;
        opacity: 0;
        transform: translate(-50%, 0);
    }
}

#modal-content {
    position: absolute;
    background-color: var(--background1);
    left: 50%;
    border: 2px solid var(--gray);
    border-radius: 8px;
    max-height: 90vh;
}

#modal-header {
    background-color: var(--banner);
    color: var(--bannerText);
    display: flex;
    border-radius: 6px;
    padding: 10px;
}

#modal-title {
    font-family: var(--font2);
    font-size: 180%
}

#modal-subtitle {
    padding: 0 40px;
    padding-bottom: 8px;
}

#modal-body {
    padding: 0 15px;
    padding-bottom: 5px;
    max-width: 90vw;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 70vh
}

#modal-pages div {
    padding: 5px;
    font-size: 150%
}

#modal-pages {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: display 5s;
}

#modal-close {
    position: absolute;
    right: 5px;
    font-size: 120%;
    color: var(--bannerText)
}

.modalBoardTitle td {
    padding: 2px;
}

.modalBoardTitle span {
    font-size: 150%
}

/* Ballpit */

.ball,
.square {
    position: absolute;
    user-select: none;
    cursor: grab;
    user-select: none;
    z-index: 2
}

/* Sidebar */

#sidebarButton {
    position: absolute;
    left: 40px;
    top: 4px
}

#sidebarLogo {
    height: 24px;
    background-color: var(--banner);
    border-radius: 15px;
    padding: 2px 15px
}

#sidebar {
    position: absolute;
    left: 0;
    top: 50px;
    width: 300px;
    background-color: var(--background1);
    z-index: 10;
    animation: slideRight 0.2s ease-out forwards;
}

#sidebar.hidden {
    animation: slideLeft 0.2s ease-in-out forwards;
}

#sidebar img {
    max-width: 250px;
    width: 80%;
    height: 55px;
    object-fit: contain;
    padding: 2px 0
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-150%);
    }
}

/* Resources */

#resources > div > div > a {
    width: 330px;
    height: 60px;
    border-radius: 40px;
    font-size: 130%;
}

#resources > div > div > span {
    white-space: normal;
    max-width: 330px;
    font-size: 14px;
    padding: 10px 0;
    margin-bottom: 10px
}