.bob {
    background-color: lawngreen;
    color: black;
}

.wf {
    background-color: moccasin;
    color: chocolate;
}

.jrb {
    background-color: darkblue;
    color: darkturquoise;
}

.ccm {
    background-color: lightskyblue;
    color: white;
}

.bbh {
    background-color: slateblue;
    color: white;
}

.hmc {
    background-color: seagreen;
    color: beige;
}

.lll {
    background-color: maroon;
    color: orange;
}

.ssl {
    background-color: gold;
    color: black;
}

.ddd {
    background-color: royalblue;
    color: paleturquoise;
}

.sl {
    background-color: lightgray;
    color: black;
}

.wdw {
    background-color: saddlebrown;
    color: white;
}

.ttm {
    background-color: orangered;
    color: white;
}

.thi {
    background-color: limegreen;
    color: beige;
}

.ttc {
    background-color: khaki;
    color: saddlebrown;
}

.rr {
    background-color: aqua;
    color: black;
}