.onePointOne {
    background-color: mediumpurple;
    color: black
}

.legacy {
    background-color: lightseagreen;
    color: black
}

.nmg {
    background-color: salmon;
    color: black
}

.dlc {
    background-color: var(--cupheadDLC);
    color: var(--dlc-font) !important
}

.dlcbase {
    background-color: khaki;
    color: black
}

/* ILs */

.simple {
    background-color: lightgreen;
    color: black
}

.simplehighest {
    background-color: limegreen;
    color: black
}

.regular {
    background-color: var(--cuphead);
    color: black
}

.regularhighest {
    background-color: goldenrod;
    color: black
}

.expert {
    background-color: salmon;
    color: black
}

.experthighest {
    background-color: indianred;
    color: black
}

/* Bosses */

.therootpack {
    background-color: #E1A136;
    color: black
}

.goopylegrande {
    background-color: cornflowerblue;
    color: black
}

.hildaberg {
    background-color: brown;
    color: var(--cuphead)
}

.cagneycarnation {
    background-color: orange;
    color: black
}

.ribbyandcroaks {
    background-color: olive;
    color: white
}

.baronessvonbonbon {
    background-color: hotpink;
    color: white
}

.beppitheclown {
    background-color: firebrick;
    color: white
}

.djimmithegreat {
    background-color: indianred;
    color: mediumturquoise
}

.grimmatchstick {
    background-color: yellowgreen;
    color: black
}

.wallywarbles {
    background-color: mediumblue;
    color: white
}

.rumorhoneybottoms {
    background-color: gold;
    color: black
}

.captainbrineybeard {
    background-color: crimson;
    color: white
}

.sallystageplay {
    background-color: lightseagreen;
    color: black
}

.wernerwerman {
    background-color: sienna;
    color: white
}

.drkahlsrobot {
    background-color: darkgray;
    color: black
}

.calamaria {
    background-color: var(--cupheadDLC);
    color: var(--dlc-font)
}

.phantomexpress {
    background-color: mediumpurple;
    color: white
}

.kingdice {
    background-color: blueviolet;
    color: white
}

.thedevil {
    background-color: black;
    color: var(--cuphead)
}

.glumstonethegiant {
    background-color: burlywood;
    color: black
}

.moonshinemob {
    background-color: teal;
    color: var(--cuphead)
}

.thehowlingaces {
    background-color: goldenrod;
    color: crimson
}

.mortimerfreeze {
    background-color: darkviolet;
    color: darkturquoise
}

.estherwinchester {
    background-color: chocolate;
    color: var(--cuphead)
}

.chefsaltbaker {
    background-color: lightgray;
    color: black
}

/* Other */

#cupheadProjects a {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-top: 25px;
    padding-bottom: 7px;
    width: 50px;
    transform: translateY(-20px);
    transition: transform 0.1s cubic-bezier(.4, 0, .2, 1);
}

#cupheadProjects a:hover {
    transform: scale(1.2);
}

#cupheadProjects img {
    height: 40px;
    width: auto;
}

.isle1 {
    background-color: cornflowerblue;
    color: black
}

.isle3 {
    background-color: gold;
    color: black
}

.hell {
    background-color: darkgray;
    color: black
}