.grade {
    color: black !important;
}

.grade-a-plus {
    background-color: lime !important;
}

.grade-a {
    background-color: limegreen !important;
}

.grade-a-minus {
    background-color: mediumseagreen !important;
}

.grade-b-plus {
    background-color: yellow !important;
}

.grade-b {
    background-color: gold !important;
}

.grade-b-minus {
    background-color: goldenrod !important;
}

.grade-c-plus {
    background-color: orange !important;
}

.grade-c {
    background-color: darkorange !important;
}

.grade-c-minus {
    background-color: chocolate !important;
}

.grade-d-plus {
    background-color: tomato !important;
}

.grade-d {
    background-color: crimson !important;
}

.grade-d-minus {
    background-color: firebrick !important;
}

.grade-f {
    background-color: maroon !important;
}

.grade-s {
    position: relative;
    overflow: hidden;
}

.grade-s::before {
    content: "";
    position: absolute;

    width: 120px;
    height: 120px;
    right: -100%;
    bottom: -50%;
    border-radius: 50%;

    background: conic-gradient(tomato,
            orange,
            gold,
            yellowgreen,
            dodgerblue,
            mediumpurple,
            tomato);

    animation: gradeSSpin 2s linear infinite;
    z-index: 0;
}

.grade-s>* {
    position: relative;
    z-index: 1;
}

@keyframes gradeSSpin {
    to {
        transform: rotate(-360deg);
    }
}

.delta-green {
    color: limegreen
}

.delta-red {
    color: red
}